@mixin centerFlex {
display: flex;
justify-content: center;
}

@mixin input {
    height: 40px;
    width: 540px;
}

@mixin hunderPecents {
    height: 100%;
    width: 100%;
}

@mixin linkDecor{
    text-decoration: none;
    color: $primary-color;
}
