@import "./mixin.scss";
@import "./variables.scss";

.sign-up-form-logo {
    @include centerFlex;
    align-items: center;
    margin-top: 124px;
}

form {
    @include centerFlex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    gap: 24px;
    font-family: 'Noto Sans JP';
    font-size: 15px;
    padding-bottom: 365px;

    .sign-in {
        margin-left: 745px;
        width: 100%;
        font-weight: 700;
        font-size: 20px;
    }

    .sign-up-username {
        @include centerFlex;
        flex-direction: column;
        gap: 10px;

        span {
            color: rgba(228,3,3,1)
        }

        .sign-up-username-input {
            @include input;
            border-radius: 4px;

            input {
                @include hunderPecents;
            }
        }
    }

    .sign-up-password {
        @include centerFlex;
        flex-direction: column;
        gap: 10px;

        span {
            color: rgba(228,3,3,1)
        }

        .sign-up-password-input {
            @include input;
            border-radius: 4px;

            input {
                @include hunderPecents;
            }
        }
    }

    .remember {
        display: flex;
        justify-content: space-between;
        gap: 232px;

        div {
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                height: 18px;
                width: 18px;
            }
        }

        a {
            @include linkDecor;
        }
    }

    .sign-up-btn {

        button {
            background-color: $primary-color;
            border: none;
            border-radius: 4px;
            height: 40px;
            width: 280px;
            color: white;
            font-family: "Noto Sans JP";
            font-size: 16px;
        }
    }

    .sign-up-link a {
        @include linkDecor;
    }
}
